apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: postgresql-cnpg

resources:
  # Vault External Secrets
  - vault/app-user-secret.yaml
  - vault/superuser-secret.yaml
  - vault/backup-s3-secret.yaml

  # CNPG Cluster
  - manifests/cluster.yaml

  # Scheduled Backup
  - manifests/scheduled-backup.yaml
